---
// Static redirect to /en/ (default locale)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/en/" />
    <link rel="canonical" href="/en/" />
    <title>ColorEat Cafe</title>
  </head>
  <body>
    <p>Redirecting to <a href="/en/">ColorEat menu</a>...</p>
  </body>
</html>
